<div [ngClass]="{'card': true}" >
  <div class="row">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
          <div class="form-group">
            <label for="name">
              Pokemon
            </label>
            <input type="text" id="name" name="name" class="form-control" ngModel required>
          </div>
          <div class="form-group">
            <label for="Description">
              Description
            </label>
            <textarea class="form-control" name="description" id="description" cols="30" rows="3" ngModel required></textarea>
          </div>
          <div class="form-group">
            <label for="status">
              Status
            </label>
            <select id="status" name="status" class="form-control" [(ngModel)]="defaultStatus">
              <option value="possessed">Catched</option>
              <option value="met">Met</option>
              <option value="unknown">Unknown</option>
            </select>
          </div>
          <div>
            <label for="Image's URL">Image's URL</label>
            <input type="text" id="image" name="image" class="form-control" ngModel required>
          </div>
          <button disabled *ngIf="f.invalid" class="btn">Complete to add</button>
          <button *ngIf="!f.invalid" type="submit" class="btn valid-button" [disabled]="f.invalid">Add my Pokemon !</button>
        </form>
    </div>
</div>