.card {
    margin-top: 10%;
    width: 60%;
    margin : 10% auto 5% auto;
    padding: 2%;
    border-radius: 5%;
    box-shadow: 8px 8px 12px whitesmoke;
}

.list-group-item-success {
    transition: all 1s;
}

.list-group-item-danger {
    transition: all 1s
}

.list-group-item-none {
    transition: all 1s
}

.pointer {
    cursor: pointer;
}

.card-title {
    font-family: SolidPokeFont;
    font-size: 3rem;
    text-align: center;
    transition: all 1s
}

.pokemon {
    width: 13rem;
    margin : 8% 0 3% 0;
}

.pokeball {
    width: 1.7rem;
    position: absolute;
    right: 20%;
    top: 0%
}

.card-text {
    width: 60%;
    margin: 0 auto 4% auto
}

.score-container {
    display: flex;
    justify-content: space-between;
    justify-content: space-around
}

.score {
    width: 3rem;
    cursor: pointer;
    margin-bottom: 2%
}

.pokedex {
    width: 5%
}

.status {
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translate(-50%);
}

.hide {
    opacity: 0;
    transition: all 1s
}

.show {
    opacity: 1;
    transition: all 2s
}