<li [ngClass]="{'list-inline-item card mr-5': true, 'list-group-item-success': pokeScore > 0, 'list-group-item-danger': pokeScore < 0, 'list-group-item-none': pokeScore == 0}" 
 style="width: 18rem">
    <div class="card-body">
      <h5 (click)="onSwitchStatus()" [ngStyle]="{color: getColor()}" [ngClass]="{'card-title' : true, 'catched' : pokeStatus == 'possessed', 'uncatched' : pokeStatus != 'possessed' }">{{ pokeName }}</h5>
      <img [ngClass]="{'hide': pokeStatus != 'possessed', 'show': pokeStatus == 'possessed', 'pokemon' : true}" src="https://vignette.wikia.nocookie.net/youtubepoop/images/4/4c/Pokeball.png/revision/latest?cb=20150418234807" alt="Pokeball" class="pokeball">
      <div class="status-content">
      <p [ngClass]="{'hide': pokeStatus != 'possessed', 'show': pokeStatus == 'possessed', 'status' : true}">Capturé le : {{ Catched | date: 'dd/MM/yy'}}</p>
      <p [ngClass]="{'hide': pokeStatus != 'met', 'show': pokeStatus == 'met', 'status' : true }">Rencontré le : {{ Catched | date: 'dd/MM/yy'}}</p>
      <p [ngClass]="{'hide': pokeStatus != 'unknown', 'show': pokeStatus == 'unknown', 'status' : true}">Jamais rencontré</p>
      </div>
      <img [routerLink]="[id]" src="{{ imageUrl }}" alt="{{ pokeName }}" class="pokemon">
      <p class="card-text">{{ pokeDescription }}</p>
      <div class="score-container">
        <img class="score" (click)="onVotePlus()" src="https://cdn.icon-icons.com/icons2/851/PNG/512/pikachu_icon-icons.com_67535.png" alt="+">
        <img class="score" (click)="onVoteLess()" src="https://vignette.wikia.nocookie.net/pkmnshuffle/images/c/ca/Pikachu_%28Dejected%29.png/revision/latest?cb=20170410223546" alt="-">
      </div>
    </div>
  </li>