<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div style="text-align:center">
    <h1>
      Your Pokedex
    </h1>
    <img class="mt-5 " width="300" alt="Angular Logo" src="https://www.pokepedia.fr/images/9/90/Pok%C3%A9dex_Kanto_Gen3.png">
    <ul class="list-inline mt-5">
      <app-pokemon 
        *ngFor="let pokemon of pokemons"
        [pokeName]="pokemon.name"
        [pokeStatus]="pokemon.status"
        [pokeDescription]="pokemon.description"
        [imageUrl]="pokemon.image"
        [pokeScore]=pokemon.score
        >
      </app-pokemon>
    </ul>
  </div>
</div>