<ul class="nav">
  <li routerLinkActive="Active" class="nav-item">
    <div (click)="status = false" (clickOutside)="status = true" class="nav-link">Pokemons <i class="fas fa-caret-down"></i></div>
    <div [ngClass]="{'card': true, 'hide' : status == true, 'show' : status == false }">
      <a class="link" routerLink="pokemons">Pokedex</a>
      <a class="link" routerLink="add-pokemon">Add Pokemons</a>
    </div>
  </li>
  <li routerLinkActive="Active" class="nav-item">
      <a class="nav-link active" routerLink="auth">Authentification</a>
    </li>
  <li class="nav-item">
  <div (click)="status1 = false" (clickOutside)="status1 = true" class="nav-link">Dressers <i class="fas fa-caret-down"></i></div>
    <div [ngClass]="{'card': true, 'hide' : status1, 'show' : !status1 }">
      <a class="link" routerLink="users">Dressers</a>
      <a class="link" routerLink="add-user">Add Dresser</a>
      <a class="link" routerLink="experiences">Experiences</a>
      <a class="link" routerLink="add-experience">Add Experience</a>
    </div>
    </li>
</ul>
<div class="container">
    <h1>
      <img src="{{ titleService.title }}" alt="police-pokemon" border="0">
    </h1>
        <router-outlet class="router"></router-outlet>
</div>