@font-face
{
    font-family: HollowPokeFont;
    src: url("../../fonts/PokemonHollow.ttf");
}

@font-face
{
    font-family: SolidPokeFont;
    src: url("../../fonts/PokemonSolid.ttf");
}

h1
{
   font-family: HollowPokeFont;
   font-size: 6rem ;
   margin-top: 1rem;
   color: whitesmoke;
   font-weight: bold
}

.top-pictures{
    position: fixed;
    cursor: pointer
}

.Sacha {
    left: 3%;
    top: 40%;
    width: 12rem;
}

.Rocket{
    right: 3%;
    bottom: 5%;
    width: 15rem
}