h3 {
    font-family: HollowPokeFont;
    margin-bottom: 4%;
}

ul {
    margin-top: 5%
}

.card {
    width: 50%;
    margin: 0 auto 2% auto;
}

img {
    position: absolute;
    height: 90%;
    top: 5%
}

.pokemon {
    right: 0%;
}