<div [ngClass]="{'card': true}" >
  <div class="card-body">
      <h3>Be careful...</h3>
      <div class="img">
        <img src="https://i.pinimg.com/originals/d3/5a/0c/d35a0cf54b98f4035618def2943ce7d9.png" alt="Haunter">
      </div>
      <br>
      <a routerLink="/pokemons" class="redirect"> <img src="https://www.pokepedia.fr/images/9/90/Pok%C3%A9dex_Kanto_Gen3.png" alt="Prof Chen" class="pokedex"> Back to Pokedex</a>
  </div>
</div>


<!-- https://www.breakflip.com/uploads/Pok%C3%A9mon/Artwork/150.png

https://t00.deviantart.net/OtJiwulPKDJNvEBfw7_cLxdgxzw=/fit-in/700x350/filters:fixed_height(100,100):origin()/pre00/a972/th/pre/f/2018/050/5/c/meowth_ko_vector_by_ryanthescooterguy-dc3qzdg.png

https://i.pinimg.com/originals/d3/5a/0c/d35a0cf54b98f4035618def2943ce7d9.png -->