.card {
    margin: 5% auto 5% auto;
    padding: 3% 0 3% 0;
    width: 80%;
    border-radius: 5%;
    box-shadow: 8px 8px 12px whitesmoke;
}

h3 {
    color: #8E1DC7;
    font-family: SolidPokeFont;
    font-size: 4rem;
    margin: 0% auto 4% auto
}

p {
    font-family: SolidPokeFont;
    color: #AF85C0;
    font-size: 1.5rem
}

img {
    transition: all 2s;
    width: 60%
}

.img :hover {
    opacity: 0;
    transition: all 2s
}

.pokedex {
    width: 5%
}