<div [ngClass]="{'card': true}" >
    <div class="card-body">
       
        <img src="http://document.nintendo-difference.com/35361/artworks/f9708df632d9e20db9cc7d1247080b3c.png" alt="Haunter">
        <p>
            Hello there! Welcome to the world of pokémon! My name is Oak! People call me the pokémon Prof! This world is inhabited by creatures called pokémon! For some people, pokémon are pets. Others use them for fights. Myself...I study pokémon as a profession.
        </p>
        <button routerLink="/pokemons" class="btn btn-success">
          Enter now !
        </button>
    </div>
  </div>
